node_modules/
.vscode/
.DS_Store
.env
dist/
build/
coverage/
*.log
npm-debug.log*
.yarn/
.idea/
/.parcel-cache
/.pnp.cjs
/.pnp.loader.mjs
.lock-wscript
client-secret.json
.env.local
.env.development.local
.env.test.local
.env.production.local
